{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block content %} 
<div class="hero-container full-width show-on-mobile pt1 pl2 pr2">
    <div class="hero full-width full-height" style="background:rgba(0,0,0,0) url(/img/4.jpg) no-repeat scroll center center/cover"></div>
</div>
<div class="hide-on-mobile hero" style="background:rgba(0,0,0,0) url(/img/4.jpg) no-repeat scroll center center/cover"></div>
<img src="{% static 'img/2.jpg' %}"  width="1182" height="812" style="margin-left: 50px; margin-top: 200px;">

<div class="body full-width pt1 pr2 pb2 pl2">
    {% include 'includes/navigator.html' %}

    <main class="content pt2 pb2">
        <h2>Обратная связь</h2>
        <p>Я буду очень рад, если вы напишите отзыв о сайте, либо сообщите о недоработке. Также, буду очень рад любым предложениям.</p>
        <form method="post", enctype="multipart/form-data" action="{% url 'main:contact' %}">
        {% csrf_token %}
        <form class="form">
            {{ form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
                </form>
                
    </main>
{% endblock content %}
