<nav class="navigation border--bottom pt1">
    <ul class="no-bullets list--inline pb1 bold">
        <li class="small mr2"><a class="link link--text current" href="/">Кто я</a></li>
        <li class="small mr2"><a class="link link--text" href={% url 'main:stack' %}>Мой стек</a></li>
        <li class="small mr2"><a class="link link--text" href={% url 'main:story' %}>Немного истории</a></li>
        <li class="small"><a class="link link--text" href={% url 'main:contact' %}>Связаться</a></li>
    </ul>
</nav>